*

# >-----< INCLUDES >-----< #

# [+]: Install stage
!package-lock.json
!package.json

# [+]: Lint stage
!source/
!source/**
!eslint.config.js
!package.json
!tsconfig.json

# [+]: Build stage
!source/
!source/**
!package.json
!tsconfig.json
!tsconfig.prod.json

# [+]: Run stage

# >-----< EXCLUDES >-----< #

# [-]: MacOS files
.DS_Store
**/.DS_Store
