*

# Repository files
!LICENSE.md
!README.md

# Source files
!source/

# Node files
!.nvmrc
!package-lock.json
!package.json

# Config files
!.editorconfig
!.prettierignore
!.prettierrc
!.eslint.config.js
!tsconfig.json
